<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset = "UTF-8">
			<title>Connection</title>
			<link rel="stylesheet" type="text/css" href="/assets/basicStyle.css">
			<link rel="stylesheet" type="text/css" href="/assets/connectionStyle.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<% include partials/header.ejs %>
			<% include partials/navigation.ejs %>

			<main>
				<div class = "content">
					<div class = "topic">
						<h2><%= connection.name %></h2>

						<div class = "topic_img">
							<img src = "/assets/image/default.gif" alt="image">
								<!--<img src = "/assets/image/<%= connection.id %>.png" alt="image">-->
						</div>

						<div class = "topic_details">
							Hosted By : <%= connection.hostedBy %><br>
							Date : <%= connection.date%><br>
              Time : <%= connection.fromTime + " - " + connection.toTime %><br>
              Location : <%= connection.location%><br>
						</div>

						<div class = "desc">
							<h3> Details </h3>
							<%= connection.details %>
						</div>
					</div>

					<div class = "rsvp">
						<h3> Are you going? </h3>
						<% if(loggedIn) { %>
							<button class = "yes" onclick="location.href='/savedConnections/save?conId=<%= connection.id %>&rsvp=Yes'"> Yes </button>
							<button class = "no" onclick="location.href='/savedConnections/save?conId=<%= connection.id %>&rsvp=No'"> No </button>
							<button class = "maybe" onclick="location.href='/savedConnections/save?conId=<%= connection.id %>&rsvp=Maybe'"> Maybe </button>
						<% } else { %>
							<button class = "yes" onclick="location.href='/login'"> Yes </button>
							<button class = "no" onclick="location.href='/login'"> No </button>
							<button class = "maybe" onclick="location.href='/login'"> Maybe </button>
						<% } %>
					</div>
				</div>
			</main>

			<% include partials/footer.ejs %>
		</body>
	</html>
