<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset = "UTF-8">
			<title>Saved Connections</title>
			<link rel="stylesheet" type="text/css" href="/assets/basicStyle.css">
			<link rel="stylesheet" type="text/css" href="/assets/savedConnectionsStyle.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<% include partials/header.ejs %>
			<% include partials/navigation.ejs %>

			<main>
				<div class = "content">
				<div class = "content1">
					<div class = "who_connection">
						<h4> <%= userName %>'s RSPVied Connections </h4>
					</div>
					<div class ="tab">
						<% if (userConnections == undefined || userConnections.length == 0) { %>
							<p> No Connections to display </p>
							<% } else { %>
					<table>
						<thead>
							<tr>
								<th> Connection </th>
								<th> Category </th>
								<th> RSVP </th>
								<th>  </th>
							</tr>
						</thead>
						<tbody>
							<% for(var i = 0; i < userConnections.length; i++) { %>
						<tr>
							<td> <%= userConnections[i].conName %> </td>
							<td> <%= userConnections[i].category %> </td>
							<td> <%= userConnections[i].rsvp %> </td>
							<td>
								<button class = "update" onclick="location.href='/connection?id=<%= userConnections[i].conId%>'"> Update </button>
								<button class = "delete" onclick="location.href='/savedConnections/remove?conId=<%= userConnections[i].conId %>'"> Delete </button>
							</td>
						</tr>
							<% } %>
						</tbody>
					</table>
					<% } %>
					</div>
				</div>
				<div class = "content2">
				<div class = "who_connection">
					<h4> Connections hosted by <%= userName %> </h4>
				</div>
				<div class ="tab">
					<% if (userHostConnections == undefined || userHostConnections.length == 0) { %>
						<p> No Connections to display </p>
						<% } else { %>
				<table>
					<thead>
						<tr>
							<th> Connection </th>
							<th> Category </th>
							<th>  </th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < userHostConnections.length; i++) { %>
					<tr>
						<td> <%= userHostConnections[i].name %> </td>
						<td> <%= userHostConnections[i].category %> </td>
						<td>
							<button class = "update" onclick="location.href='/newConnection?con=<%= JSON.stringify(userHostConnections[i])%>'"> Update </button>
							<button class = "delete" onclick="location.href='/savedConnections/deleteConnection?conId=<%= userHostConnections[i].id %>'"> Delete </button>
						</td>
					</tr>
						<% } %>
					</tbody>
				</table>
				<% } %>
				</div>
			</div>
		</div>
			</main>

			<% include partials/footer.ejs %>
		</body>
	</html>
